* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

header {
    padding-top: 10px;
    text-align: center;
}

.logo {
    width: 180px;
}

#uno {

    background-color: #E0E0E0;
}

#dos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7F7F7;
}

hr{
  height: 5px;
  color: #fbbc00;
}

.min{
  font-size: 14px;
}

.sedes{
  font-family: 'Francois One', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  margin: 10px;
}

ul{
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li{
  list-style: none;
}

.tab{
  border-bottom: 4px solid #fbbc00;
  font-family: 'Francois One', sans-serif;
  font-size: 20px;
}

.enrollment,.achivement,.nps {
    width: 356px;
    margin: 30px;
    background-color: white;
    /* border: 1px blue solid; */
}

#StudCurrEnr,
#dropout {
    width: 150px;
    height: 63px;
    background-color: #F7F7F7;
    border: 1px black solid;
    display: inline-block;
}

#graficaEnroll {
    text-align: center;
}

#enrollment {
    float: left;
}

#contenedorStudDrop {
    text-align: center;
}

#tres {
    background-color: #F7F7F7;
}

#cuatro {
    background-color: #F7F7F7;
    display: block;
    /* border: 1px blue solid; */
    margin-bottom: 55px;
    padding: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 1px blue solid;
}

#seccioncuatro {
    background-color: white;
    display: inline-block;
    width: 88.5%;
    margin-left: 4.5%;
    padding-left: 2em;
    margin-top: 55px;
}

.graficatech img {
    width: 65%;
    float: left;
}

img[src="assets/images/circle-graphic.png"] {
    width: 30%;
}

#cinco1 {
    background-color: #F7F7F7;
    display: block;
    /* border: 1px blue solid; */
    margin-bottom: 55px;
    padding: 50px;
    padding-top: 0;
    margin-top: 0;
    border: 1px blue solid;
}

#cinco div {
    float: left;
}

.student,
.teacher,
.jedi {
    background-color: #F7F7F7;
    width: 350px;
    margin: 30px;
    padding-left: 15px;
}

#cinco {
    margin-bottom: 200px;
}

header i {
    color: black;
    float: right;
    /* border: 1px blue solid; */
}

.fa-bars {
    padding-top: 20px;
    padding-right: 100px;
    font-size: 2em;
}
